.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px 0px;
  align-items: center;
}

.titleText {
  margin: 0;
}

.subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 14px;
}

.subtitleText1{
    color: rgb(65, 65, 65);
}

.subtitleText2{
    color: rgb(24, 24, 24);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}