.outputScreen{
    flex: 1;
    /* border: 1px solid #464A53; */
    display: flex;
    flex-direction: column;

  border-left: 1px solid #464A53;
}

.outputContent{
    flex: 1;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #101922;
    box-sizing: border-box;
    font-size: 16px;
}