.selector{
    padding: 10px 20px;
    background-color: #101922;
    color: white;
    border-radius: 5px;
    border: 1px solid #464A53;
    font-size: 14px;
}

 .selector:focus {
    outline: none;
    border: 1px solid #464A53;
}